{% extends 'base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block body %}

    <main class="container">
        <a href="/user/new">Ajouter user</a>
    </main>

{% endblock %}