{% extends 'base.html.twig' %}

{% block title %}
    Liste des évènemenents
{% endblock %}

{% block body %}
    <main class="container-fluid">

        {{ include('admin/shared/_admin-header.html.twig') }}

        {% if entityName == 'user' %}
            <a href="/{{ entityName }}/new">Ajouter un utilisateur</a>
        {% elseif entityName == 'event' %}
            <a href="/admin/{{ entityName }}/new">Créer un nouvel évènement</a>
        {% endif %}

        {{ include('admin/shared/_data-table.html.twig', {
            items: items,
            entityName: entityName
        }) }}

    </main>

{% endblock %}