{% extends 'base.html.twig' %}

{% block title %}
    Page inexistante
{% endblock %}



{% block body %}

    <main class="container ">
        <h1 class="my-5">Erreur 404</h1>

       <p>La page demandée n'existe pas, désolé</p>
    </main>

{% endblock %}