<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bienvenue {% endblock %}</title>
</head>
<body style="width: clamp(50px, 70vw, 1260px); margin: auto">
<header>
    {{ include('shared/nav.html.twig') }}
</header>
{% block body %}
{% endblock %}
</body>
</html>