<nav class="navbar navbar-dark bg-primary navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/dashboard">Mes évenements</a>
                </li>
            </ul>
            {% if connectedUser.id == null %}
                <a class="btn btn-warning rounded-pill border-0" href="/user/login">Connexion</a>
            {% else %}
                <div class="d-flex align-items-center gap-3">
                    <p class="mb-0">Bonjour {{ connectedUser.firstname }} {{ connectedUser.lastname }}</p>
                    <a class="btn btn-warning rounded-pill border-0" href="/user/logout">Déconnexion</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>