<ul style="list-style: none; display: flex; justify-content: center; align-items: start">

    <li style="padding: 0 10px">
        <a href="/">Tableau de bord</a>
    </li>
    <li style="padding: 0 10px">
        <a href="/contact">Contact</a>
    </li>
    <li style="padding: 0 10px">
        <a href="/products">Produits</a>
    </li>
</ul>